@import url(common.css);

.wave {
  position: relative;
}

.wave canvas {
  position: absolute;
  bottom: -113px;
  left: 0;
  width: 100%;
  z-index: 1;
}

/* わかたび */
main {
  background-image: url(../img/dot-grid.webp);
  background-size: 1000px 1000px; /* image size */
  animation: wakatabi 30s infinite linear;
}
@keyframes wakatabi {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 360px -360px;
  }
}

.visualmain {
  position: relative;
}

.visualmain .visual img {
  width: 100%;
  object-fit: cover;
  text-align: center;
  animation: visual 12s;
  transition-delay: 5s;
}

@keyframes visual {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.visualmain p:nth-child(2) img {
  width: 20%;
  position: absolute;
  top: 65%;
  left: 5%;
  animation: wakayamaiitokoro 6s;
  z-index: 3;
}

@keyframes wakayamaiitokoro {
  0% {
    opacity: 0;
    transform: translateX(-800px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.visualmain p:nth-child(3) img {
  width: 27%;
  position: absolute;
  top: 5%;
  right: 10%;
  animation: visuallogo 7s ease-in-out 2s alternate;
  display: inline-block;
  transition: 4s ease-in-out;
  z-index: 3;
  /* width: 400px;
  height: 400px; */
}

@keyframes visuallogo {
  0% {
    transform: translate(0, 0) rotate(-7deg);
  }
  25% {
    transform: translate(0, -7) rotate(0deg);
  }
  50% {
    transform: translate(0, 0) rotate(7deg);
  }
  75% {
    transform: translate(0, -7) rotate(0deg);
  }
  88% {
    transform: translate(0, 0) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

/* 和歌山には魅力がいっぱい 記事名*/
main .saisyonosaisyo {
  background-image: url(../img/tiny-squares.webp);
  animation: haikei 30s infinite normal;
}
@keyframes haikei {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100px 100px;
  }
}

main .saisyo {
  background-color: #ffffff;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

main section h2 {
  font-size: 35px;
  text-align: center;
}

.saisyo .midasi {
  padding-top: 96px;
}

.marker {
  display: inline;
  background-image: linear-gradient(transparent 68%, #dee1da 70%);
  background-repeat: no-repeat;
  background-size: 0;
  transition: 1.5s;
  padding-left: 15px;
  padding-right: 15px;
}
.marker:hover {
  background-size: 100%;
  width: 100%;
}

.midasi {
  margin-bottom: 65px;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 86px;
}

.midasi span {
  white-space: nowrap;
  line-height: 1.2;
  text-align: center;
}

.hover {
  position: relative;
}
.hover .hover-img {
  margin: 0;
  padding: 0;
}
.hover-img img {
  width: 100%;
  height: 100%;
}
.hover .hover-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #fff;
  background-color: rgba(29, 27, 27, 0.65);
  border-radius: 10px;
  opacity: 0;
  transition: 0.5s ease-in-out;
  font-size: 22px;
  padding: 92px 100px;
}

/*ホバーエフェクト*/
.hover:hover .hover-text {
  /*不透明にして表示*/
  opacity: 1;
}

main section ul.annai {
  max-width: 990px;
  margin-left: auto;
  margin-right: auto;
}

.annai {
  opacity: 0;
  transform: translate(0, 100px);
  transition: all 2s;
}

.annai.active {
  opacity: 1;
  transform: translate(0, 0);
}

main section ul.annai li {
  margin-left: 10px;
  margin-right: 10px;
  /* max-width: 300px; */
}

.slick-next {
  right: -45px;
}

.slick-prev {
  left: -50px;
  z-index: 1;
}

.slick-prev,
.slick-next {
  width: 40px;
  height: 40px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 40px;
  color: #ffffff;
}

.slick-dots {
  margin-bottom: -10px;
}

main section p.mottomiru {
  padding-top: 40px;
  padding-bottom: 106px;
  text-align: center;
}

/* お知らせ全体 */
main .oshirase {
  width: 100%;
  background-color: #dee1da;
  margin-bottom: 54px;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 43px;
}

/* フェードイン */
.oshirseuchigawa {
  opacity: 0;
  transform: translate(0, 100px);
  transition: all 2.5s;
}

.oshirseuchigawa.active {
  opacity: 1;
  transform: translate(0, 0);
}

main .oshirseuchigawa {
  background-color: #fff;
  border-radius: 22px;
  text-align: center;
  padding-bottom: 56px;
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;
}

/* お知らせタイトル */
main .oshirseuchigawa dt {
  color: #8e7a0c;
  font-size: 25px;
  padding-top: 30px;
  margin-bottom: 29px;
  text-decoration: none;
}

main .oshirase .oshirseuchigawa .a {
  flex-basis: 144px;
}

/* お知らせ new */
main .oshirseuchigawa dd:first-child {
  color: #8e7a0c;
  font-size: 25px;
  text-align: center;
  margin-bottom: 8px;
  line-height: 0.41;
}

/* お知らせ 日付 */
main .oshirase .oshirseuchigawa .a dd:nth-child(2) {
  background-color: rgba(217, 217, 217, 0.43);
  border-radius: 6px;
  padding: 12px 6px;
}

main .oshirase .oshirseuchigawa p {
  flex-basis: 394px;
  margin-bottom: 66px;
}

main .oshirase .oshirseuchigawa aside {
  margin-bottom: 56px;
  text-decoration: underline;
  font-size: 20px;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}

/* お知らせ 真ん中 */
main .osirasenaka {
  border-top: #8e7a0c 3px solid;
  border-bottom: #8e7a0c 3px solid;
  max-width: 652px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 42px;
  padding-bottom: 42px;
  display: flex;
  align-items: center;
  gap: 33px;
  margin-bottom: 32px;
  font-size: 25px;
  text-align: left;
}

main .osirasenaka .a {
  margin-top: -25px;
}

main section.tour {
  max-width: 1026px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  font-size: 22px;
}

main section.tour h2 {
  margin-bottom: 49px;
}
main section.tour h2 span {
  white-space: nowrap;
}

main section.tour .tournaka {
  background-color: #fff;
  border: #8e7a0c 1px solid;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 0px;
  padding-bottom: 110px;
  margin-bottom: 68px;
  padding-left: 20px;
  padding-right: 20px;
}

.card {
  /* width: 300px; 任意の横幅を指定 */
  position: relative;
  cursor: pointer;
}

/* 擬似要素とpadding-topでカードの高さを指定 */
.card::before {
  content: "";
  display: block;
  padding-top: 142.5%;
}

/* カード内の画像 */

/* カード裏面・表面の共通スタイル */
.card .back,
.card .front {
  transition: all 2.9s;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

/* カード表面のスタイル */
.card .front {
  transform: rotateY(-180deg);
}
.front a {
  background-color: #d9d9d9;
}

/* ホバー時のカード裏面 */
.card:hover .back {
  transform: rotateY(180deg);
}

/* ホバー時のカード表面 */
.card:hover .front {
  transform: rotateY(0);
}

main section ul.pickup {
  display: flex;
  gap: 2.7%;
}

main section.tour .pickup li {
  flex-basis: 31.5%;
}

main section.tour .pickup li a {
  display: block;
  border: #8e7a0c 3px solid;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  height: 500px;
}

main section.tour .pickup li p {
  line-height: 25px;
  text-align: left;
}

main section.tour .pickup li p span {
  font-size: 17px;
}

main section.tour .pickup li p:nth-child(1) {
  text-align: center;
  margin-bottom: 25px;
}

main section.tour .pickup li p.kuwashiku {
  text-align: center;
  position: absolute;
  bottom: -10px;
  right: 50%;
  transform: translate(50%, -77%);
}

main section.tour .pickup li p.italic {
  font-style: italic;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 20%;
  transform: translate(-22%, 65%);
}

main section.tour p:last-child {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

main section.tour > p {
  margin-bottom: 98px;
}

main section.theme {
  background-color: #fff;
  padding-bottom: 28px;
}

main section.theme .themenaka {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 0px;
  padding-left: 59px;
  padding-right: 59px;
  padding-bottom: 86px;
  border-bottom: #dee1da 4px solid;
  border-top: #dee1da 4px solid;
}

main section.theme ul {
  display: flex;
  gap: 20px;
  /* gap: 1.9%; */
  flex-wrap: wrap;
  /* background-color: burlywood; */
  justify-content: center;
}

main section.theme .themelist li {
  /* flex-basis: 18.4%; */
  flex-basis: 188px;
}

.themelist li {
  opacity: 0;
  transform: translate(0, 50px);
  transition: all 2s;
}

.themelist li.active {
  opacity: 1;
  transform: translate(0, 0);
}

main section.hajimetenokata {
  padding-top: 102px;
  padding-bottom: 108px;
  line-height: 1.6;
}

main section.hajimetenokata h2 {
  margin-bottom: 86px;
}

main section.hajimetenokata h2 img {
  padding-right: 39px;
  z-index: 1;
}

main section .wakayama {
  display: flex;
  align-items: flex-start;
}

main section .wakayama > p {
  margin-top: -100px;
  margin-left: 0px;
  max-width: 448px;
}

main section .wakayama .matome {
  text-align: center;
  margin-left: -90px;
  margin-right: auto;
}

main section .wakayama p:first-child {
  z-index: 0;
}

.matome {
  opacity: 0;
  transform: translate(0, 100px);
  transition: all 2s;
}

.matome.active {
  opacity: 1;
  transform: translate(0, 0);
}

main section .matome p:first-child {
  text-align: left;
  font-size: 24px;
  margin-bottom: 46px;
  max-width: 724px;
}

main section .matome p:nth-child(2) {
  text-align: center;
}

@media (max-width: 991px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  main section h2 {
    font-size: 30px;
  }

  .hover .hover-text {
    padding-left: 33%;
    padding-top: 29%;
  }

  main .oshirseuchigawa {
    padding-left: 20px;
    padding-right: 20px;
  }

  main section ul.pickup {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    gap: 6%;
    row-gap: 115px;
    flex-wrap: wrap;
    /* gap: 2.7px; */
    padding-left: 35px;
    padding-right: 35px;
  }

  main section.tour .pickup li {
    flex-basis: 47%;
    /* flex-basis: 287px; */
  }
  main section.tour .tournaka {
    margin-left: 20px;
    margin-right: 20px;
  }
  main section.theme .themelist {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    /* gap: 20px; */
    gap: 3%;
    row-gap: 20px;
    padding-left: 0px;
    padding-right: 0px;
    /* background-color: burlywood; */
  }

  main section.theme .themelist li {
    flex-basis: 188px;
  }
  main section.hajimetenokata .matome p {
    font-size: 20px;
  }
  footer section ul,
  footer section.small {
    padding-left: 20px;
  }
}

@media (max-width: 767px) {
  header p:nth-child(2) {
    visibility: hidden;
  }
  header p:nth-child(3) {
    visibility: hidden;
  }

  .visualmain .visual img {
    object-fit: cover;
    object-position: middle;
    height: 400px;
  }

  .visualmain p:nth-child(2) img {
    width: 150px;
    object-position: left;
    position: absolute;
    top: 90%;
    left: 10%;
    transform: translate(0%, -60%);
  }

  .visualmain p:nth-child(3) img {
    width: 250px;
    position: absolute;
    transform: translate(50%, -65%);
    top: 50%;
    right: 50%;
    margin-left: 10px;
    animation: visuallogo none;
  }

  .hover .hover-text {
    font-size: 1.3em;
    padding-left: 34%;
    padding-top: 29%;
  }

  main section ul.pickup {
    display: block;
    padding-left: 0px;
    padding-right: 0px;
  }
  main section.tour .pickup li {
    max-width: 288px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 110px;
  }

  main section .wakayama {
    position: relative;
    padding-bottom: 40px;
  }

  main section .wakayama > p {
    max-width: 448px;
    padding-top: 20px;
    position: absolute;
    z-index: -1;
  }

  main section .wakayama .matome {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: aqua; */
  }
  main section .wakayama .matome p {
    text-shadow: 7px 7px 5px #fff;
  }

  main section .matome p:first-child {
    text-align: left;
    font-size: 24px;
    margin-bottom: 46px;
    max-width: 724px;
  }

  main section .matome p:nth-child(2) {
    text-align: center;
  }

  footer {
    font-size: 18px;
  }
}

@media (max-width: 575px) {
  .visualmain p:nth-child(2) img {
    animation: none;
  }

  header h1 {
    padding-right: 50px;
  }

  main section h2 {
    font-size: 25px;
  }
  main .osirasenaka {
    display: block;
  }

  main .oshirase .oshirseuchigawa .a dd:nth-child(2) {
    width: 6em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  main section ul.pickup {
    display: block;
    padding-left: 7px;
    padding-right: 7px;
  }

  main section.tour .pickup li a {
    position: relative;
  }
  main section.tour .pickup li p {
    margin-bottom: 30px;
  }

  main section.tour .pickup li p.kuwashiku {
    position: unset;
    transform: translate(0%, 0%);
  }

  main section.tour .pickup li p.italic {
    position: unset;
    transform: translate(0%, 0%);
    margin-bottom: 10px;
  }

  main section.tour p:last-child {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10p;
  }

  main section.tour > p {
    margin-bottom: 98px;
  }

  main section.tour .tournaka {
    background-color: #fff;
    border: #8e7a0c 1px solid;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 35px;
    padding-bottom: 33px;
    margin-bottom: 68px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
/* footer {
    padding-bottom: 23%;
    padding-right: 10px;
  }

  footer section.toiawase {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    background-color: aqua;
  }

  footer section.toiawase .pictureichi {
    flex-basis: 60.7%;
    background-color: #8e7a0c;
  }

  footer section.toiawase .pictureni {
    flex-basis: 39.2%;
    background-color: blueviolet;
  }

  footer section.toiawase .pictureichi picture img {
    width: 100%;
  }

  footer section.toiawase .pictureni picture img {
    width: 100%;
  }

  footer p.top {
    bottom: 10.5%;
  }
} */
